version: "3"

volumes:
  consensource-shared-data:

services:
  consensource-contract-builder:
    image: consensource-contract-builder
    container_name: consensource-contract-builder
    build:
      context: .
      dockerfile: processor/Dockerfile.sabre
    volumes:
      - consensource-shared-data:/shared_data
    entrypoint: |
      bash -c "
        while true; do curl -s http://sawtooth-rest-api:8008/state | grep -q head; if [ $$? -eq 0 ]; then break; fi; sleep 0.5; done;
        sabre cr --create consensource --key /shared_data/my_key --owner $$(cat /shared_data/my_key.pub) --url http://sawtooth-rest-api:8008 --wait 30
        sabre upload --filename product.yaml --key /grid-shared/my_key --url http://sawtooth-rest-api:8008 --wait 30
        sabre ns --create cad11d --key /shared_data/my_key --owner $$(cat /shared_data/my_key.pub) --url http://sawtooth-rest-api:8008 --wait 30
        sabre ns --create 621dee01 --key /shared_data/my_key --owner $$(cat /shared_data/my_key.pub) --url http://sawtooth-rest-api:8008 --wait 30
        sabre ns --create 621dee02 --key /shared_data/my_key --owner $$(cat /shared_data/my_key.pub) --url http://sawtooth-rest-api:8008 --wait 30
        sabre perm cad11d consensource --key /shared_data/my_key --read --write --url http://sawtooth-rest-api:8008 --wait 30
        sabre perm 621dee01 consensource --key /shared_data/my_key --read --url http://sawtooth-rest-api:8008 --wait 30
        sabre perm 621dee02 consensource --key /shared_data/my_key --read --write --url http://sawtooth-rest-api:8008 --wait 30
        echo '---------========= consensource contract is loaded =========---------'
      "

  cli:
    image: target/consensource:cli
    container_name: consensource-cli
    volumes:
      - consensource-shared-data:/shared_data
    entrypoint: |
      bash -c "
        if [ ! -f $HOME/.sawtooth/keys/root.priv ]; then
          sawtooth keygen
        fi;
        mkdir -p /shared_data/keys && \
          creg genesis -o /shared_data/creg-genesis.batch -K /shared_data/keys \
              -g /example-genesis.yaml;
        tail -f /dev/null
      "

  client:
    image: target/consensource:client
    container_name: consensource-client
    build:
      context: client
      dockerfile: Dockerfile
    volumes:
      - ./client/public/:/usr/local/apache2/htdocs/
    expose:
      - 80
    ports:
      - "8080:80"

  consensus-engine:
    image: hyperledger/sawtooth-devmode-engine-rust:chime
    container_name: consensource-consensus-engine
    expose:
      - 5050
    ports:
      - "5050:5050"
    command: |
      bash -c "
        devmode-engine-rust -C tcp://validator:5050
      "

  validator:
    image: hyperledger/sawtooth-validator:chime
    container_name: consensource-validator
    expose:
      - 4004
      - 8800
    ports:
      - "4004:4004"
      - "8800:8800"
    volumes:
      - consensource-shared-data:/shared_data
    entrypoint: |
      bash -c "
        sawadm keygen && \
          sawtooth keygen my_key && \
          cp /root/.sawtooth/keys/my_key.* /shared_data && \
          sawset genesis -k /root/.sawtooth/keys/my_key.priv && \
          sawset proposal create \
          -k /root/.sawtooth/keys/my_key.priv \
          sawtooth.consensus.algorithm.name=Devmode \
          sawtooth.consensus.algorithm.version=0.1 \
          -o config.batch \
          && sawadm genesis config-genesis.batch config.batch /shared_data/creg-genesis.batch && \
        sawtooth-validator -v \
          --endpoint tcp://validator:8800 \
          --bind component:tcp://eth0:4004 \
          --bind network:tcp://eth0:8800 \
          --bind consensus:tcp://eth0:5050 \
      "

  sawtooth-rest-api:
    image: hyperledger/sawtooth-rest-api:chime
    container_name: sawtooth-rest-api
    ports:
      - "8008:8008"
    depends_on:
      - validator
    entrypoint: sawtooth-rest-api -v -C tcp://validator:4004 --bind sawtooth-rest-api:8008

  rest-api:
    image: target/consensource:rest-api
    container_name: consensource-rest-api
    build:
      context: .
      dockerfile: ./rest_api/Dockerfile
    ports:
      - "9009:9009"
      - "9010:9010"
    environment:
      ROCKET_ADDRESS: "0.0.0.0"
      ROCKET_PORT: "9009"
    command: |
      bash -c "
        consensource-rest-api -v --dbhost postgres -C tcp://validator:4004
      "

  settings-tp:
    image: hyperledger/sawtooth-settings-tp:chime
    container_name: sawtooth-settings-tp
    depends_on:
      - validator
    entrypoint: settings-tp -v -C tcp://validator:4004

  processor:
    image: target/consensource:processor
    container_name: consensource-processor
    build:
      context: .
      dockerfile: ./processor/Dockerfile
    command: |
      bash -c "
        cert-registry-processor -v -C tcp://validator:4004
      "

  postgres:
    image: postgres:alpine
    container_name: cert-registry-postgres
    restart: always
    environment:
      POSTGRES_USER: cert-registry
      POSTGRES_PASSWORD: cert-registry
      POSTGRES_DB: cert-registry
    volumes:
      - "./database/tables:/docker-entrypoint-initdb.d"
    ports:
      - "5432:5432"
    expose:
      - 5432

  adminer:
    image: adminer
    container_name: consensource-adminer
    restart: always
    ports:
      - "8081:8080"

  state-delta-subscriber:
    image: target/consensource:state-delta-subscriber
    container_name: consensource-state-delta-sub
    build:
      context: .
      dockerfile: ./state_delta_subscriber/Dockerfile
    command: |
      bash -c "
        state-delta-subscriber --dbhost postgres -v -C tcp://validator:4004
      "
